@media only screen and (min-width: 400px) {

  button.hamburger {
    font-size: 200%;
    margin-left: 5%;
  }

  img.logoText {
  	width: 35%;
  }

  p.textPart1 {
  	font-size: 4em;
  }

}
