body,
html {
    margin: 0;
    height: 100%;
    padding: 0;
    background: #1a6fff;
}

* {
    box-sizing: border-box;
    font-family: Lato,Arial,sans-serif;
    letter-spacing: 1px;
    color: #def;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}


.main-header {
    position: relative;
    width: 100%;
    height: 20%;
    border-bottom: 4px solid #f49501;

}

/*.main-header::before,
.main-header::after {
    display: inline-block;
    content: "";
    width: 50%;
    height: 100%;

}*/

/*.main-header::before {
    position: relative;
    transform:translateX(-100%);
    content: "";
    background: linear-gradient(to right, rgba(232, 73, 29, 1), #ff8000);
}

.main-header::after {
    position: absolute;
    transform:translateX(100%);
    top: 0;
    right: 0;
    background: linear-gradient(to right, rgba(232, 73, 29, 1), #ff8000);
}*/

.nav-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    transform: translateY(50%);
    text-align: center;
}

nav.main-nav ul li {
    display: inline-block;
    letter-spacing: 2px;
    padding: 0px 40px 0px 40px;
    opacity: .5;
    color: #def;
    font-size: 60px!important;
    position: relative;
    transition: all .5s ease;
}

nav.main-nav ul li:nth-child(odd) {
    left: 200%;
}

.me::after {
    display: block;
    content: "me";
    position: absolute;
    text-transform: capitalize;
    font-size: 40%;
    transform: translateY(-180%) translateX(25%);
    color: #18bfff;
}

nav.main-nav ul li:nth-child(even) {
    left: -200%;
}

.active {
    transform: scale(1.5);
    opacity: 1!important;
}

main.main-content {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

main.main-content div {
    transition: all .5s ease;
    opacity: 0;
    transform: translateY(10%);
    margin: 1%;
    padding: 1%;
}


.slideUpp-FadeIn {
    opacity: 1!important;
    transform: translateY(0)!important;
}

div.home-msg {
    text-align: center;
}
