

main.main-content {
	position: relative;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
	justify-content: center;
    width: 100%;
    height: 100%;
	background: #2f2f2f;
}

div.home-msg {
	min-height: 200px;
}

@keyframes blink {50% { color: transparent }}
.__dot { animation: 1s blink infinite }

div.home-msg a, div.home-msg b {
	color: #F49501;
}

div.home-btn button {
	outline: none;
	border: 2px solid #F49501;
	background: transparent;
}

main.main-content div {
    transition: all .5s ease;
    opacity: 0;
    transform: translateY(10%);
    margin: 1%;
    padding: 1%;
	font-size: 18px;
}


.slideUpp-FadeIn {
    opacity: 1!important;
    transform: translateY(0)!important;
}

main.main-content p {
	transform:translateX(5%);
	min-width: 600px;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
}

.slideIn-f-rigth-fadeIn-2 {
	right: 2%;
}
