

main.main-content {
	position: relative;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
	justify-content: center;
    width: 100%;
    height: 100%;
	background: #2f2f2f;
}

main.main-content div {
    transition: all .5s ease;
    opacity: 0;
    transform: translateY(10%);
    margin: 1%;
    padding: 1%;
	font-size: 18px;
}

div.home-msg {
	min-height: 200px;
}

main.main-content p {
	transform:translateX(5%);
	min-width: 600px;
	font-size: 18px;
	line-height: 30px;
	text-align: left;
}

@keyframes blink {50% { color: transparent }}
.__dot { animation: 1s blink infinite }

div.home-msg a, div.home-msg b {
	color: #F49501;
	cursor: pointer;
	transition: all .25s ease;
}

div.home-msg a:hover, div.home-msg b:hover {
	color: #def;
}


div.home-btn button {
	transition: all .3s ease;
	cursor: pointer;
	outline: none;
	border: 2px solid #F49501;
	background: transparent;
	width: 250px;
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 1.5px;
	height: 50px;
	position: relative;
	top: 0;
}

div.home-btn button:hover {
	top: -10px;
	border: 2px solid #def;
	color: #F49501;
}

div.next_arrow {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 2%;
	top: calc(50% - 50px);
	cursor: pointer;
}

div.line {
	transition: all .5s ease;
	height: 0%;
	width: 2px;
	background: #def;
	position: relative;
	left: 23px;
	transform: rotate(0deg);
}

div.next_arrow p.next-txt {
	transition: all .5s ease;
	position: absolute;
	transform: translateY(-100%);
	font-size: 12px;
	opacity: 0;
	right: 2%;
}

div.line.active {
	height: 50%;
}

div.line.top.active {
	transform: rotate(-225deg);
	top: 7px;
}

div.next_arrow:hover p.next-txt {
	opacity: 0.7;
	right: 100%;
}

div.next_arrow:hover div.line.top {
	top: 14px;
	transform: rotate(-245deg);
}

div.next_arrow:hover div.line.bottom {
	transform: rotate(245deg);
}

div.line.bottom.active {
	transform: rotate(225deg);
}

.slideIn-f-rigth-fadeIn-2 {
	right: 2%;
}

.slideUpp-FadeIn {
    opacity: 1!important;
    transform: translateY(0)!important;
}
