body,
html {
    margin: 0;
    height: 100%;
    padding: 0;
	background: #2a2a2a;
}

* {
    box-sizing: border-box;
    font-family: Lato,Arial,sans-serif;
    letter-spacing: 1px;
    color: #def;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

a {
	text-decoration: none;
}

b {
	color: #ffc203;
}

textarea {
	resize: none;
}
